<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/adapterjs/0.15.4/adapter.min.js"></script>
</head>
<body>
<!--<video id="video" autoplay src="https://example-files.online-convert.com/video/webm/example.webm" controls></video>-->

<div id="parent_div">

</div>
<!--<video id="blobs-video" controls autoplay></video>-->
<button id="record" name="button">start recording</button>
<button id="stop" name="button">stop recording</button>
<script>
    (function () {
        let connection;
        let flag = 0;
        let storage = [];
        let recorder;
        let mediaStream;
        let fileReader = new FileReader();
        //let mimeCodec = 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"';
        let mimeCodec = 'video/webm;codecs="vp8, opus"';
        let sourceBuffer;
        let mediaSource;
        let replay;
        let parent_div = document.getElementById('parent_div');
        let startButton = document.getElementById('record');
        let stopButton = document.getElementById('stop');

        function getSocketConnect() {
        let myHost = '127.0.0.1';
        let myPort = 8765;
        connection = new WebSocket("ws://" + myHost + ":" + myPort);
        connection.binaryType = 'blob';
        return connection;
    }
//Create socket object
    let sockConnect = getSocketConnect();
//open connection
    sockConnect.onopen = function(ws) {
        console.log("Соединение открыто...");
        if(this.readyState == 1){
            //send user id after establishing connection
            setTimeout(function () {
                sockConnect.send(prepareData(1, 67));
                console.log("req");
            }, 100);
        }
    };
    sockConnect.onmessage = function(event) {
          if (flag == 0){
              let answer = JSON.parse(event.data);
            //Get message
              if(answer.status == 10){
                  console.log(event.data);
                  flag = 1;
              }
          }
          else {
              storage.unshift(event.data);
          }
    };
    //Prepare data for service request
    function prepareData(status, idUser, idContact=0) {
        return '{"status":'+status+', "userId":'+idUser+', "idContact":'+idContact+'}';
    }

        if (!'MediaSource' in window && !MediaSource.isTypeSupported(mimeCodec)) {
            alert('Unsupported MIME type or codec: ', mimeCodec);
        }

        function uas(str) {
            alert(navigator.userAgent);
            return navigator.userAgent.indexOf(str) == 0;
        }
        function getVideoStream() {
            navigator.mediaDevices.getUserMedia({
                audio: true,
                video: true
            })
            .then(function (stream) {
                mediaStream = stream;
                getRecorder();
            })
            .catch(function(err) {
              console.log(err);
            });
        }

        function getRecorder() {
            let options = { mimeType: 'video/webm', audioBitsPerSecond: 128000, videoBitsPerSecond:158000};
            recorder = new MediaRecorder(mediaStream, options);
            recorder.ondataavailable = videoDataHandler;
            // recorder.addEventListener('stop', function () {
            //     mediaSource.endOfStream();
            //     mediaSource.removeSourceBuffer(sourceBuffer);
            //     mediaSource = '';
            //     sourceBuffer = '';
            //     storage = [];
            //     replay.remove();
            // });
        }

        // function videoDataHandler(event) {
        //     if (recorder.state == 'recording'){
        //         fileReader.readAsDataURL(event.data);
        //         fileReader.onload = function() {
        //             // console.log(fileReader.result);
        //             sockConnect.send(event.data);
        //             //storage.unshift(fileReader.result);
        //             // if (sourceBuffer.updating || storage.length > 0){
        //             //     //console.log(1);
        //             //     sourceBuffer.appendBuffer(storage.pop());
        //             // }
        //         };
        //     }
        // }
        function videoDataHandler(event) {
            console.log(event.data);
            if(event.data.size > 59500)
            {
                let new_blob = new Blob([event.data.slice(0, 59500)], {type: 'video/webm'});
                let new_blob1 = new Blob([event.data.slice(59501, event.data.size)], {type: 'video/webm'});
                console.log(new_blob);
                console.log(new_blob1);
                sockConnect.send(new_blob);
                sockConnect.send(new_blob1);

                return;
            }
            sockConnect.send(event.data);
        }
        startButton.addEventListener('click', function (e) {
            // mediaSource = new MediaSource();
            // mediaSource.addEventListener('sourceopen', function () {
            //     sourceBuffer = mediaSource.addSourceBuffer(mimeCodec);
            // });
            // replay = document.createElement('video');
            // replay.setAttribute('controls', 'controls');
            // parent_div.appendChild(replay);
            // replay.src = window.URL.createObjectURL(mediaSource);
            // replay.addEventListener('error',function(e){ console.error(e); });
            // replay.play();

            recorder.start(100);
        });
        stopButton.addEventListener('click', function (e) {
            //sockConnect.send(prepareData(2, 1));
            recorder.stop();
        });

        //Close brouser or page
        window.onbeforeunload = function () {
            sockConnect.send(prepareData(3, 1));
            sockConnect.close();
        };

        getVideoStream();
})();
</script>
</body>
</html>