<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Heloo!!!</p>
<script language="javascript" type="text/javascript">
    myFirstPromise = new Promise(function(resolve, reject){
        let i = 3000;
        if (i){
            resolve('Ok');
        }
        else{
            reject('No');
        }
    });

    myFirstPromise
        .then(function(successMessage){
          alert("Ура! " + successMessage);
        })
        .catch(noMes => {
            alert('No ' + noMes);
        });

    function secF(i){
        return new Promise((resolve, reject)=>{
            if(i > 0){
                resolve('Ok');
            }
            else{
                reject('No');
            }
        });
    }

    document.querySelector('p').onclick = () => {
        secF(1)
        .then((mes)=>{
            alert(mes);
        })
        .catch((mes)=> {
            alert(mes);
        })
    };
</script>
</body>
</html>