<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<video id="video" src="" autoplay ></video>
<video id="blob-video" controls></video>
<button id="record" name="button">start recording</button>
<button id="stop" name="button">stop recording</button>

<script>
    let videoStream;
    let recorder;
    let isRecording = false;
    let blobsArray = [];
    let recordButton = document.getElementById('record');
    let stepButton = document.getElementById('stop');
// A quick demo to see how to best store video data from mediarecorder API as chunks to be transported and played back later.

navigator.mediaDevices.getUserMedia({
    audio: true,
    video: true
    })
    .then(function (stream) {
    videoStream = stream;
    let a = document.getElementById('video');
    a.srcObject = stream;
});

function videoDataHandler (event) {
    let blob = event.data;
    document.getElementById('blob-video').setAttribute('src', window.URL.createObjectURL(blob));
}

createMediaPlayer = function () {
    window.recorder = new MediaRecorder(videoStream, {
        mimeType: 'video/webm'
    });
    window.recorder.ondataavailable = videoDataHandler;
};
function getList(event){
    blobsArray.push(event.data);
}
recordButton.addEventListener('click', function (e) {
    isRecording = true;
    createMediaPlayer();
    //Start record media
    window.recorder.start();
});

stepButton.addEventListener('click', function (e) {
    isRecording = false;
    //Stop record
    //Когда вызывается MediaRecorder.stop (), все мультимедийные данные, которые были захвачены с момента начала
    // записи или в последний раз, когда произошло событие доступности данных, доставляются в BLOB-объекте;
    // после этого захват заканчивается и вызывается window.recorder.ondataavailable.
    window.recorder.stop();
})
</script>

</body>
</html>