<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send Server</title>
</head>
<body>
<div id="parent_div"></div>
<div id="parent_div1"></div>
<!--<video id="blobs-video" controls autoplay></video>-->
<button id="record" name="button">start recording</button>
<button id="stop" name="button">stop recording</button>
<script>
(function () {
//////----------- Socket section------------------------------------////
    let flag = 0;
    let myHost = '127.0.0.1';
    let myPort = 50009;
    let storage = [];
    let recorder;
    let mediaStream;
    //let mimeCodec = 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"';
    let mimeCodec = 'video/webm;codecs="vp8, opus"';
    let mimeTypes = 'video/webm';
    //let mimeCodec = 'audio/webm;codecs="opus"';
    //let mimeTypes = 'audio/webm';
    let sourceBuffer;
    let mediaSource;
    let replay;
    let parent_div = document.getElementById('parent_div');
    let parent_div1 = document.getElementById('parent_div1');
    let startButton = document.getElementById('record');
    let stopButton = document.getElementById('stop');
    let myvideo;


    if (!'MediaSource' in window && !MediaSource.isTypeSupported(mimeCodec)) {
            alert('Unsupported MIME type or codec: ', mimeCodec);
    }

    function getSocketConnect() {
        let connection = new WebSocket("ws://" + myHost + ":" + myPort);
        connection.binaryType = 'arraybuffer';
        return connection;
    }
//Create socket object
    let sockConnect = getSocketConnect();

    sockConnect.onerror = function(error) {
       console.log("Error " + error.message);
    };
//open connection
    sockConnect.onopen = function(ws) {
        //console.log("Соединение открыто...");
        if(this.readyState == 1){
            //send user id after establishing connection
            setTimeout(function () {
                sockConnect.send(prepareData(1, 1));
                //console.log("req");
            }, 1000);
        }
    };
    sockConnect.onmessage = function(event) {
          if (flag == 0){
              let answer = JSON.parse(event.data);
            //Get message
              if(answer.status == 10){
                  //console.log(event.data);
                  flag = 1;
              }
          }
          else {
             storage.unshift(event.data);
          }
    };
    //Prepare data for service request
    function prepareData(status, idUser, idContact=0) {
        return '{"status":'+status+', "userId":'+idUser+', "idContact":'+idContact+'}';
    }
//////----------- Media section------------------------------------////

    function getVideoStream() {
            navigator.mediaDevices.getUserMedia({
                audio: true,
                video: true
            })
            .then(function (stream) {
                mediaStream = stream;
                mediaSource = new MediaSource();
                replay = document.createElement('video');
                replay.src = window.URL.createObjectURL(mediaSource);
                replay.load();
                replay.play();
                parent_div.appendChild(replay);
                mediaSource.addEventListener('sourceopen', function () {
                    if (stream){
                        sourceBuffer = mediaSource.addSourceBuffer(mimeCodec);
                        getRecorder();
                        recorder.start(100);
                    }

                });
                //myvideo = document.createElement('video');
                //myvideo.srcObject = stream;
                //parent_div1.appendChild(myvideo);
                //myvideo.play();
            })
            .catch(function(err) {
                console.log(err);
            });
        }

        function getRecorder() {
            let options = { mimeType: mimeTypes, audioBitsPerSecond: 128000 };
            recorder = new MediaRecorder(mediaStream, options);
            recorder.ondataavailable = videoDataHandler;
            recorder.addEventListener('stop', function () {
                mediaSource.endOfStream();
                mediaSource.removeSourceBuffer(sourceBuffer);
                mediaSource = '222';
                sourceBuffer = '';
                mediaStream = '';
                replay.remove();
                storage = [];
                //myvideo.remove();
            });
        }

        function videoDataHandler(event) {
            if (recorder.state == 'recording'){
                let fileReader = new FileReader();
                fileReader.readAsArrayBuffer(event.data);
                fileReader.onload = function() {
                    sockConnect.send(fileReader.result);
                    if (sourceBuffer.updating || storage.length > 0){
                        try{
                            k = storage.pop();
                            sourceBuffer.appendBuffer(k);
                            console.log(k);
                        }
                        catch (m){
                            console.log(m);
                        }
                        //sourceBuffer.appendBuffer(storage.pop());
                    }
                };
            }
        }
        startButton.addEventListener('click', function (e) {
            getVideoStream();
        });

        stopButton.addEventListener('click', function (e) {
            recorder.stop();
        });
    //Close brouser or page
        window.onbeforeunload = function () {
            sockConnect.send(prepareData(3, 1));
            sockConnect.close();
        };
})();
</script>
</body>
</html>