<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="parent_div"></div>
<div id="parent_div1"></div>
<!--<video id="blobs-video" controls autoplay></video>-->
<button id="record" name="button">start recording</button>
<button id="stop" name="button">stop recording</button>
<script>
      (function () {
        let storage = [];
        let recorder;
        let mediaStream;
        let fileReader = new FileReader();
        //let mimeCodec = 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"';
        let mimeCodec = 'video/webm;codecs="vp8, opus"';
        let sourceBuffer;
        let mediaSource;
        let replay;
        let parent_div = document.getElementById('parent_div');
        let parent_div1 = document.getElementById('parent_div1');
        let startButton = document.getElementById('record');
        let stopButton = document.getElementById('stop');
        let myvideo;

        if (!'MediaSource' in window && !MediaSource.isTypeSupported(mimeCodec)) {
            alert('Unsupported MIME type or codec: ', mimeCodec);
        }

        function uas(str) {
            alert(navigator.userAgent);
            return navigator.userAgent.indexOf(str) == 0;
        }
        function getVideoStream() {
            navigator.mediaDevices.getUserMedia({
                audio: true,
                video: true
            })
            .then(function (stream) {
                mediaStream = stream;
                mediaSource = new MediaSource();
                replay = document.createElement('video');
                parent_div.appendChild(replay);
                replay.src = window.URL.createObjectURL(mediaSource);
                replay.play();
                mediaSource.addEventListener('sourceopen', function () {
                    sourceBuffer = mediaSource.addSourceBuffer(mimeCodec);
                    getRecorder();
                    recorder.start(100);
                });
                myvideo = document.createElement('video');
                parent_div1.appendChild(myvideo);
                myvideo.srcObject = stream;
                myvideo.play();
            })
            .catch(function(err) {
                console.log(err);
            });
        }

        function getRecorder() {
            let options = { mimeType: 'video/webm', audioBitsPerSecond: 128000 };
            recorder = new MediaRecorder(mediaStream, options);
            recorder.ondataavailable = videoDataHandler;
            recorder.addEventListener('stop', function () {
                mediaSource.endOfStream();
                mediaSource.removeSourceBuffer(sourceBuffer);
                mediaSource = '';
                sourceBuffer = '';
                replay.remove();
                myvideo.remove();
            });
        }

        function videoDataHandler(event) {
            if (recorder.state == 'recording'){
                fileReader.readAsArrayBuffer(event.data);
                fileReader.onload = function() {
                    storage.unshift(fileReader.result);
                    if (sourceBuffer.updating || storage.length > 0){
                        sourceBuffer.appendBuffer(storage.pop());
                    }
                };
            }
        }
        startButton.addEventListener('click', function (e) {
            getVideoStream();
        });

        stopButton.addEventListener('click', function (e) {
            recorder.stop();
        });

        //getVideoStream();
})();

</script>
</body>
</html>