<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<video id="video" autoplay src="https://example-files.online-convert.com/video/webm/example.webm" controls></video>-->
<div id="parent_div">

</div>
<!--<video id="blobs-video" controls autoplay></video>-->
<button id="record" name="button">start recording</button>
<button id="stop" name="button">stop recording</button>
<script>
    (function () {
        let storage = [];
        let recorder;
        let mediaStream;
        let fileReader = new FileReader();
        let sourceBuffer;
        let mediaSource;
        let replay;
        let parent_div = document.getElementById('parent_div');
        let startButton = document.getElementById('record');
        let stopButton = document.getElementById('stop');

        function uas(str) {
            alert(navigator.userAgent);
            return navigator.userAgent.indexOf(str) == 0;
        }
        function getVideoStream() {
            navigator.mediaDevices.getUserMedia({
                audio: true,
                video: true
            })
            .then(function (stream) {
                mediaStream = stream;
                getRecorder();
            })
            .catch(function(err) {
              console.log(err);
            });
        }

        function getRecorder() {
            let options = { mimeType: 'video/webm', audioBitsPerSecond: 128000 };
            recorder = new MediaRecorder(mediaStream, options);
            recorder.ondataavailable = videoDataHandler;
            recorder.addEventListener('stop', function () {
                mediaSource.endOfStream();
                mediaSource.removeSourceBuffer(sourceBuffer);
                mediaSource = '';
                sourceBuffer = '';
                replay.remove();
            });
        }

        function videoDataHandler(event) {
            if (recorder.state == 'recording'){
                fileReader.readAsArrayBuffer(event.data);
                fileReader.onload = function() {
                    storage.unshift(fileReader.result);
                    if (sourceBuffer.updating || storage.length > 0){
                        sourceBuffer.appendBuffer(storage.pop());
                    }
                };
            }
        }
        startButton.addEventListener('click', function (e) {
            mediaSource = new MediaSource();
            mediaSource.addEventListener('sourceopen', function () {
                sourceBuffer = mediaSource.addSourceBuffer('video/webm;codecs="vp8, opus"');
            });
            replay = document.createElement('video');
            parent_div.appendChild(replay);
            replay.src = window.URL.createObjectURL(mediaSource);
            replay.play();
            recorder.start(100);
        });
        stopButton.addEventListener('click', function (e) {
            recorder.stop();
        });

        getVideoStream();
})();
</script>
</body>
</html>