<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Heloo!!!</p>
<script language="javascript" type="text/javascript">
    myFirstPromise = new Promise(function(resolve, reject){
        let i = 3000;
        if (i){
            resolve('Ok');
        }
        else{
            reject('No');
        }
    });

    myFirstPromise.then(function(successMessage){
      alert("Ура! " + successMessage);
    })
    .catch(noMes => {
        alert('No ' + noMes);
    });

    function secF(i){
        return new Promise(function(resolve, reject){
            if(i > 0){
                resolve('Ok');
            }
            else{
                reject('No');
            }
        });
    }
    let res = secF(1);
    document.querySelector('p').onclick = function () {
        res
        .then(function(mes){
            alert(mes);
        })
        .catch(function (mes) {
            alert(mes);
        })
    };
</script>
</body>
</html>