<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<video id="video" src="" autoplay ></video>
<video id="blob-video" autoplay></video>
<video id="blobs-video" controls autoplay></video>
<canvas id="can" width="200" height="100"></canvas>
<button id="record" name="button">start recording</button>
<button id="stop" name="button">stop recording</button>
<script>
    (function () {
    let recorder;
    let mediaStream;
    let fileName;
    let connection;
    let queue = [];
    let reader = new FileReader();
    let sourceBuffer;

    let mediaSource = new MediaSource();
    let replay = document.getElementById('blobs-video');
    replay.src = window.URL.createObjectURL(mediaSource);
    mediaSource.addEventListener('sourceopen', function(e) {
        console.log('sourceopen');
        sourceBuffer = mediaSource.addSourceBuffer('video/webm; codecs="vp8, vorbis"');
        sourceBuffer.addEventListener('update', function() { // Note: Have tried 'updateend'
            if (queue.length > 0 && !sourceBuffer.updating) {
               sourceBuffer.appendBuffer(queue.shift());
            }
        });
    });
    function getVideoStream() {
        navigator.mediaDevices.getUserMedia({
            audio: true,
            video: true
        })
        .then(function (stream) {
            mediaStream = stream;
            let a = document.getElementById('video');
            a.srcObject = stream;
            //document.getElementById('blobs-video').setAttribute('src', window.URL.createObjectURL(mediaStream));
            getRecorder();
            recorder.start(100);
        })
        .catch(function(err) {
          console.log(err);
        });
    }

    function getRecorder() {
        let options = { mimeType: 'video/webm', audioBitsPerSecond: 128000 };
        recorder = new MediaRecorder(mediaStream, options);
        recorder.ondataavailable = videoDataHandler;
    }

    function videoDataHandler(event) {
        let fileReader = new FileReader();
        fileReader.readAsArrayBuffer(event.data);
        fileReader.onload = function() {
            if (typeof event.data !== 'string') {
                if (sourceBuffer.updating || queue.length > 0) {
                    queue.push(event.data);
                }
                else {
                    sourceBuffer.appendBuffer(fileReader.result);
                }
            }

            //sourceBuffer.appendBuffer(fileReader.result);
        };

        //if (event.data.size > 0) {
        //    recordedChunks.push(event.data);
        //}
        //superBuffer = new Blob(recordedChunks);
        //console.log(superBuffer);
        //document.getElementById('blobs-video').src = window.URL.createObjectURL(superBuffer);


        //reader = new FileReader();
        //reader.readAsDataURL(event.data);
        //reader.readAsArrayBuffer(event.data);
        //reader.readAsBinaryString(event.data);
        //reader.onloadend = function (event) {
                //document.getElementById('blobs-video').setAttribute('src', reader.result);
                //console.log(reader.result);
                //connection.send(reader.result);
       // }

    }

    function getWebSocket() {
        var websocketEndpoint = 'ws://localhost:7000';
        connection = new WebSocket(websocketEndpoint);
        connection.binaryType = 'arraybuffer';
        connection.onmessage = function (message) {
            fileName = message.data;
        }
    }

    function updateVideoFile() {
        var video = document.getElementById('recorded-video');
        var fileLocation = 'http://localhost:7000/uploads/'
            + fileName + '.webm';
        video.setAttribute('src', fileLocation);
    }

    let startButton = document.getElementById('record');
    startButton.addEventListener('click', function (e) {
        recorder.start(100);
    });

    let stopButton = document.getElementById('stop');
    stopButton.addEventListener('click', function (e) {
        recorder.stop();
    });

    getVideoStream();
    //getWebSocket();
})();
</script>
</body>
</html>